h1 {
  color: blueviolet;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

p {
  font-size: smaller;
}

h3 {
  font-weight: bolder;
  font-style: italic;
}

body {
  text-align: center;
}
